@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");
::-moz-selection {
  background: #AD00FF;
  color: #fff;
}
::selection {
  background: #AD00FF;
  color: #fff;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: inherit;
}

*:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AD00FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF2156;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: sans-serif;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 120.1em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  background: #131925;
  font-family: 'Poppins', sans-serif;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
}

button[disabled] {
  cursor: default;
}

p {
  line-height: 1.7;
  color: #B9C7DE;
  font-size: 1.6rem;
}

ul, ol {
  list-style: none;
}

input, textarea {
  font-family: inherit;
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
}

h1 .ti-cursor {
  font-weight: 300 !important;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.6rem;
  font-weight: 700;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  max-width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#AD00FF), color-stop(#FF2156), to(#FFBB6E));
  background: linear-gradient(to right, #AD00FF, #FF2156, #FFBB6E);
  z-index: 1000;
}

.container {
  padding: 0 4rem;
  max-width: 136rem;
  margin: 0 auto;
}

.nav-header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  height: 11rem;
}

@media only screen and (max-width: 1200px) {
  .nav-header {
    position: relative;
  }
}

.nav-header::after {
  content: "";
  position: absolute;
  background: #1F2634;
  height: 100%;
  right: 0;
  left: 63%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-radius: 0 0 0 1.5em;
  -webkit-transition: width .3s ease, height 2s .5s ease;
  transition: width .3s ease, height 2s .5s ease;
}

@media only screen and (max-width: 768px) {
  .nav-header::after {
    left: auto;
    width: 147px;
  }
}

.nav-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .nav-header .nav-logo img {
    width: 55%;
    margin-top: -10px;
  }
}

.nav-header .hamburger {
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: 769px) {
  .nav-header .hamburger {
    display: none;
  }
}

.nav-header .hamburger .ham {
  cursor: pointer;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-header .hamburger .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.nav-header .hamburger .ham3 .top {
  stroke-dasharray: 40 130;
}

.nav-header .hamburger .ham3 .middle {
  stroke-dasharray: 40 140;
}

.nav-header .hamburger .ham3 .bottom {
  stroke-dasharray: 40 205;
}

.nav-header .hamburger .ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}

.nav-header .hamburger .ham3.active .middle {
  stroke-dashoffset: -102px;
}

.nav-header .hamburger .ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

.nav-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
  position: relative;
  z-index: 2;
}

.nav-header .nav-links li a {
  display: inline-block;
  font-size: 1.6rem;
  color: #B9C7DE;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.nav-header .nav-links li a:hover {
  color: #fff;
}

.nav-header .nav-links li a.active {
  color: #fff;
  position: relative;
}

.nav-header .nav-links li a.active::after {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#AD00FF), color-stop(#FF2156), to(#FFBB6E));
  background: linear-gradient(to right, #AD00FF, #FF2156, #FFBB6E);
  border-radius: 100px;
  bottom: -4.13rem;
  left: -15px;
  right: -15px;
  height: 5px;
}

@media only screen and (max-width: 768px) {
  .nav-header .nav-links li a.active::after {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-header .nav-links {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -100%;
    height: 100%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: top .4s ease;
    transition: top .4s ease;
  }
  .nav-header .nav-links li:not(:last-child) {
    margin-bottom: 4rem;
  }
  .nav-header .nav-links li a {
    font-size: 3rem;
    color: #B9C7DE;
    font-weight: 400;
  }
  .nav-header .nav-links li a.active {
    color: #fff;
  }
  .nav-header .nav-links.active {
    top: 0;
  }
}

#hero {
  position: relative;
  height: 100vh;
  min-height: 93rem;
  max-height: 120rem;
}

#hero .hero-dots {
  position: absolute;
  left: 0;
  top: 60%;
}

@media only screen and (max-width: 500px) {
  #hero .hero-dots {
    display: none;
  }
}

#hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 8rem 24.5rem 0;
  max-width: 176rem;
}

@media only screen and (max-width: 1200px) {
  #hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8rem 4rem 0;
  }
}

@media only screen and (max-width: 900px) {
  #hero .container {
    padding: 0rem 4rem 0;
  }
}

#hero .container .hero-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 1200px) {
  #hero .container .hero-content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media only screen and (max-width: 900px) {
  #hero .container .hero-content {
    margin-top: 13rem;
  }
}

@media only screen and (max-width: 500px) {
  #hero .container .hero-content {
    margin-top: 8rem;
    position: relative;
    z-index: 2;
  }
}

#hero .container .hero-content p {
  margin: 4rem 0;
  width: 76%;
}

#hero .container .hero-content .hero-btn {
  padding: 1.8rem 5.2rem;
  font-size: 1.6rem;
  color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#FFBB6E), color-stop(#AD00FF), color-stop(#FF2156), color-stop(#FFBB6E), color-stop(#FF2156), to(#AD00FF));
  background: linear-gradient(to left, #FFBB6E, #AD00FF, #FF2156, #FFBB6E, #FF2156, #AD00FF);
  border-radius: .5rem;
  background-size: 250% 100%;
  -webkit-transition: background .4s ease;
  transition: background .4s ease;
}

#hero .container .hero-content .hero-btn:hover {
  background-position: 65% 0%;
}

#hero .container .hero-imgs-desktop {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
  position: relative;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 500px) {
  #hero .container .hero-imgs-desktop {
    margin-top: -9rem;
  }
}

#hero .container .hero-imgs-desktop .hero-img-s {
  margin-top: 7rem;
}

#hero .container .hero-imgs-desktop .hero-img-s img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  #hero .container .hero-imgs-desktop .hero-img-s img {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  #hero .container .hero-imgs-desktop .hero-img-s img {
    width: 100%;
  }
}

#hero .container .hero-imgs-desktop .hero-cloud-top {
  position: absolute;
  top: -20px;
  right: -120px;
  -webkit-animation: cloud 5s ease-in-out infinite;
          animation: cloud 5s ease-in-out infinite;
}

@media only screen and (max-width: 1500px) {
  #hero .container .hero-imgs-desktop .hero-cloud-top {
    width: 30rem;
    top: 40px;
    right: -50px;
  }
}

@media only screen and (max-width: 1200px) {
  #hero .container .hero-imgs-desktop .hero-cloud-top {
    width: 30rem;
    top: 0px;
    right: 0px;
  }
}

@media only screen and (max-width: 500px) {
  #hero .container .hero-imgs-desktop .hero-cloud-top {
    width: 25rem;
    top: 20px;
    right: 0px;
  }
}

@media only screen and (max-width: 425px) {
  #hero .container .hero-imgs-desktop .hero-cloud-top {
    width: 20rem;
    top: 50px;
    right: 0px;
  }
}

#hero .container .hero-imgs-desktop .hero-cloud-bottom {
  position: absolute;
  bottom: 0;
  left: -50px;
  -webkit-animation: cloud 9s ease-in-out infinite;
          animation: cloud 9s ease-in-out infinite;
}

@media only screen and (max-width: 1500px) {
  #hero .container .hero-imgs-desktop .hero-cloud-bottom {
    width: 30rem;
    bottom: 40px;
    left: -50px;
  }
}

@media only screen and (max-width: 1200px) {
  #hero .container .hero-imgs-desktop .hero-cloud-bottom {
    width: 30rem;
    bottom: 0px;
    left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  #hero .container .hero-imgs-desktop .hero-cloud-bottom {
    width: 25rem;
    bottom: 0px;
    left: 0px;
  }
}

@media only screen and (max-width: 425px) {
  #hero .container .hero-imgs-desktop .hero-cloud-bottom {
    width: 20rem;
    bottom: 30px;
    left: 0px;
  }
}

@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
}

@keyframes cloud {
  0% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
}

#platform {
  scroll-margin-top: 5rem;
}

@media only screen and (max-width: 1370px) {
  #platform {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 500px) {
  #platform {
    margin-top: 0rem;
  }
}

#platform .container {
  text-align: center;
}

#platform .container .section-txt {
  margin: 4rem 0 7rem;
}

#platform .container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  position: relative;
}

@media only screen and (max-width: 1370px) {
  #platform .container .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  #platform .container .cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#platform .container .cards .line {
  position: absolute;
  height: 2px;
  background: #AD00FF;
  bottom: -70px;
  left: 15.5rem;
  right: 50%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

@media only screen and (max-width: 1370px) {
  #platform .container .cards .line {
    display: none;
  }
}

#platform .container .cards .card {
  background: #1F2634;
  background: -webkit-gradient(linear, left bottom, left top, from(#AD00FF), color-stop(#FF2156), color-stop(#FFBB6E), color-stop(#1F2634), color-stop(#1F2634), to(#1F2634));
  background: linear-gradient(to top, #AD00FF, #FF2156, #FFBB6E, #1F2634, #1F2634, #1F2634);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem 2rem;
  border-radius: 1em;
  cursor: pointer;
  position: relative;
  background-size: 100% 250%;
}

#platform .container .cards .card img.active {
  display: none;
}

#platform .container .cards .card img.non-active {
  display: block;
}

#platform .container .cards .card.active {
  background-position: 100% 100%;
}

#platform .container .cards .card.active img.active {
  display: block;
}

#platform .container .cards .card.active img.non-active {
  display: none;
}

#platform .container .cards .card::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-70px);
          transform: translateX(-50%) translateY(-70px);
  background: #AD00FF;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media only screen and (max-width: 1370px) {
  #platform .container .cards .card::after {
    display: none;
  }
}

#platform .container .cards .card.active::after {
  height: 70px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

#platform .container .cards .card .card-title {
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  margin: 2rem 0;
}

#platform-extend {
  margin: 136px 0 13.6rem;
}

@media only screen and (max-width: 1024px) {
  #platform-extend {
    margin: 7rem 0;
  }
}

#platform-extend .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1024px) {
  #platform-extend .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#platform-extend .container .social-circle {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 1024px) {
  #platform-extend .container .social-circle {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 5rem;
  }
}

#platform-extend .container .social-circle img {
  width: 90%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: img-rotate .8s ease-in-out infinite alternate;
          animation: img-rotate .8s ease-in-out infinite alternate;
}

@media only screen and (max-width: 1024px) {
  #platform-extend .container .social-circle img {
    display: block;
    margin: 0 auto;
  }
}

@-webkit-keyframes img-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1.3deg);
            transform: rotate(1.3deg);
  }
}

@keyframes img-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1.3deg);
            transform: rotate(1.3deg);
  }
}

#platform-extend .container .platform-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

#platform-extend .container .platform-right h2 {
  margin-bottom: 2rem;
}

#platform-extend .container .platform-right .line2 {
  position: absolute;
  height: 70px;
  width: 2px;
  background: #AD00FF;
  top: -68px;
  left: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

@media only screen and (max-width: 1370px) {
  #platform-extend .container .platform-right .line2 {
    display: none;
  }
}

#platform-extend .container .platform-right > div {
  display: none;
}

#platform-extend .container .platform-right > div.active {
  display: block;
}

#coming-soon {
  background: url("../../images/coming-soon-bg.svg");
  padding: 9rem 0;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1920px) {
  #coming-soon {
    background-size: cover;
  }
}

@media only screen and (max-width: 500px) {
  #coming-soon {
    padding: 5rem 0;
  }
}

#coming-soon .container {
  text-align: center;
}

#coming-soon .container img {
  margin-bottom: 4rem;
}

#coming-soon .container p {
  font-weight: 800;
  color: #fff;
  font-size: 7rem;
  letter-spacing: 10px;
  line-height: 1.2;
}

@media only screen and (max-width: 500px) {
  #coming-soon .container p {
    font-size: 5rem;
  }
}

#brck {
  background: #0b0f17;
  padding: 8rem 0;
  position: relative;
}

#brck .dots {
  position: absolute;
  right: 0;
  top: 50%;
}

#brck .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  #brck .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#brck .container .brck-txt {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

@media only screen and (max-width: 1024px) {
  #brck .container .brck-txt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#brck .container .brck-txt .brck-line {
  width: 10rem;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#AD00FF), color-stop(#FF2156), to(#FFBB6E));
  background: linear-gradient(to right, #AD00FF, #FF2156, #FFBB6E);
  border-radius: 100rem;
  margin: 2rem 0 3rem;
  display: block;
}

#brck .container .brck-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 1024px) {
  #brck .container .brck-img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    margin-top: 7rem;
  }
}

#brck .container .brck-img img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #brck .container .brck-img img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  #brck .container .brck-img img {
    width: 100%;
  }
}

#grid {
  padding: 10rem 0 0rem;
}

#grid .container h2 {
  margin-bottom: 5rem;
}

#grid .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media only screen and (max-width: 900px) {
  #grid .container .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  #grid .container .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#grid .container .grid .card {
  padding: 3rem;
  background: #1F2634;
  border-radius: 1em;
}

#grid .container .grid .card img {
  margin-bottom: 2rem;
}

#grid .container .grid .card ul {
  list-style: inside;
  margin-top: 1.5rem;
}

#grid .container .grid .card ul li {
  color: #B9C7DE;
  font-size: 1.6rem;
}

#grid .container .grid .card ul li:not(:last-child) {
  margin-bottom: .5rem;
}

#tokenomics {
  padding-top: 3rem;
  padding-bottom: 7rem;
}

#tokenomics .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  #tokenomics .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 7rem;
  }
}

#tokenomics .container .tokenomics-img {
  -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
}

@media only screen and (max-width: 1024px) {
  #tokenomics .container .tokenomics-img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#tokenomics .container .tokenomics-img img {
  width: 100%;
}

#tokenomics .container .tokenomics-txt {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

#tokenomics .container .tokenomics-txt .tokenomics-line {
  width: 10rem;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#AD00FF), color-stop(#FF2156), to(#FFBB6E));
  background: linear-gradient(to right, #AD00FF, #FF2156, #FFBB6E);
  border-radius: 100rem;
  margin: 2rem 0 3rem;
  display: block;
}

#table {
  padding-bottom: 10rem;
}

#table .container {
  background: #1F2634;
  max-width: 150rem;
  padding: 5rem 7rem;
  border-radius: 5rem;
}

@media only screen and (max-width: 1440px) {
  #table .container {
    border-radius: 0;
    padding: 4rem;
  }
}

#table .container .distribution-line {
  width: 10rem;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#AD00FF), color-stop(#FF2156), to(#FFBB6E));
  background: linear-gradient(to right, #AD00FF, #FF2156, #FFBB6E);
  border-radius: 100rem;
  margin: 2rem 0 3rem;
  display: block;
}

@media only screen and (max-width: 900px) {
  #table .container .table-container {
    overflow-x: scroll;
    padding-bottom: 2rem;
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  #table .container .table-container::-webkit-scrollbar {
    height: .7rem;
  }
  #table .container .table-container::-webkit-scrollbar-track {
    background: #fff;
  }
  #table .container .table-container::-webkit-scrollbar-thumb {
    background: #AD00FF;
  }
  #table .container .table-container::-webkit-scrollbar-thumb:hover {
    background: #FF2156;
  }
}

#table .container table.table {
  border: none;
  background-color: #1F2634;
  width: 100%;
  border-collapse: collapse;
  margin: 5rem 0 0;
}

@media only screen and (max-width: 1024px) {
  #table .container table.table {
    width: auto;
  }
}

@media only screen and (max-width: 900px) {
  #table .container table.table {
    width: 1000px;
  }
}

#table .container table.table tr td, #table .container table.table tr th {
  padding: 1rem;
}

#table .container table.table tr td:not(:last-child), #table .container table.table tr th:not(:last-child) {
  border-right: 2px solid #2F384A;
}

#table .container table.table tbody td {
  font-size: 1.4rem;
  color: #fff;
}

#table .container table.table tr:nth-child(even) {
  background: #131925;
}

#table .container table.table td:nth-child(1) {
  width: 20px;
}

#table .container table.table td:nth-child(3) {
  width: 70px;
  text-align: center;
}

#table .container table.table td:nth-child(4) {
  width: 120px;
  text-align: center;
}

#table .container table.table td:nth-child(5) {
  width: 170px;
}

#table .container table.table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #table .container table.table td {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}

#table .container table.table thead {
  background: -webkit-gradient(linear, right top, left top, from(#AD00FF), color-stop(#FF2156), to(#FFBB6E));
  background: linear-gradient(to left, #AD00FF, #FF2156, #FFBB6E);
  border-bottom: 5px solid #131925;
}

#table .container table.table thead th {
  font-size: 1.7rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem;
}

#table .container table.table thead th:not(:last-child) {
  border-right: 2px solid #2F384A;
}

#timeline {
  position: relative;
}

#timeline .timeline-dots {
  position: absolute;
  left: -1rem;
  top: 2rem;
}

@media only screen and (max-width: 1674px) {
  #timeline .timeline-dots {
    display: none;
  }
}

#timeline .container {
  position: relative;
}

#timeline .container h2 {
  margin-bottom: 7rem;
}

#timeline .container .list {
  position: relative;
  z-index: 1;
  padding: 0 5rem;
}

#timeline .container .list p {
  background: #131925;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 5rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  #timeline .container .list p {
    background: transparent;
    padding: 1rem 0;
  }
}

#timeline .container .list ul {
  padding: 0rem 5rem;
}

@media only screen and (max-width: 500px) {
  #timeline .container .list ul {
    padding: 0;
  }
}

#timeline .container .list ul li {
  color: #B9C7DE;
  font-size: 1.8rem;
  font-weight: 400;
}

#timeline .container .list-1 {
  margin-bottom: 10rem;
}

@media only screen and (max-width: 1230px) {
  #timeline .container .list-1 {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 500px) {
  #timeline .container .list-1 {
    padding: 0rem;
    margin-bottom: 3rem;
  }
}

#timeline .container .list-2 {
  text-align: right;
  margin-bottom: 10rem;
  padding: 0 12rem 0 0;
}

#timeline .container .list-2 p {
  margin-left: auto;
}

@media only screen and (max-width: 1230px) {
  #timeline .container .list-2 {
    text-align: left;
    padding: 0 3rem;
  }
  #timeline .container .list-2 p {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  #timeline .container .list-2 {
    padding: 0rem;
    margin-bottom: 3rem;
  }
}

#timeline .container .list-3 {
  margin-bottom: 10rem;
}

@media only screen and (max-width: 1230px) {
  #timeline .container .list-3 {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 500px) {
  #timeline .container .list-3 {
    padding: 0rem;
    margin-bottom: 3rem;
  }
}

#timeline .container .list-4 {
  text-align: right;
  padding: 0 12rem 0 0;
}

#timeline .container .list-4 p {
  margin-left: auto;
}

@media only screen and (max-width: 1230px) {
  #timeline .container .list-4 {
    text-align: left;
    padding: 0 3rem;
  }
  #timeline .container .list-4 p {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  #timeline .container .list-4 {
    padding: 0rem;
    margin-bottom: 3rem;
  }
}

#timeline .container .timeline-container {
  position: absolute;
  top: 17rem;
  left: 6rem;
  right: 0;
}

#timeline .container .timeline-container svg#svg {
  max-width: 700px;
  overflow: visible;
}

@media only screen and (max-width: 1230px) {
  #timeline .container .timeline-container svg#svg {
    display: none;
  }
}

#timeline .container .timeline-container svg#svgMD {
  max-width: 500px;
  overflow: visible;
}

@media only screen and (max-width: 769px) {
  #timeline .container .timeline-container svg#svgMD {
    display: none;
  }
}

@media only screen and (min-width: 1231px) {
  #timeline .container .timeline-container svg#svgMD {
    display: none;
  }
}

#timeline .container .timeline-container svg#svgTBL {
  max-width: 500px;
  overflow: visible;
}

@media only screen and (max-width: 500px) {
  #timeline .container .timeline-container svg#svgTBL {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  #timeline .container .timeline-container svg#svgTBL {
    display: none;
  }
}

#timeline .container .timeline-container svg#svgSM {
  max-width: 500px;
  overflow: visible;
}

@media only screen and (max-width: 425px) {
  #timeline .container .timeline-container svg#svgSM {
    display: none;
  }
}

@media only screen and (min-width: 501px) {
  #timeline .container .timeline-container svg#svgSM {
    display: none;
  }
}

#timeline .container .timeline-container svg#svgXSM {
  max-width: 500px;
  overflow: visible;
}

@media only screen and (min-width: 426px) {
  #timeline .container .timeline-container svg#svgXSM {
    display: none;
  }
}

#timeline .container .timeline-container .theLine {
  stroke: url(#linear);
  fill: none;
  stroke-width: 5px;
  -webkit-filter: drop-shadow(0 0 10px #7b04b38c);
          filter: drop-shadow(0 0 10px #7b04b38c);
}

#timeline .container .timeline-container .theLine2 {
  stroke: rgba(255, 255, 255, 0.4);
  fill: none;
  stroke-width: 1px;
}

#timeline .container .timeline-container .theLineMD,
#timeline .container .timeline-container .theLineTBL,
#timeline .container .timeline-container .theLineSM,
#timeline .container .timeline-container .theLineXSM {
  stroke: #AD00FF;
  fill: none;
  stroke-width: 5px;
  -webkit-filter: drop-shadow(0 0 10px #7b04b38c);
          filter: drop-shadow(0 0 10px #7b04b38c);
}

#timeline .container .timeline-container .theLineMD2,
#timeline .container .timeline-container .theLineTBL2,
#timeline .container .timeline-container .theLineSM2,
#timeline .container .timeline-container .theLineXSM2 {
  stroke: rgba(255, 255, 255, 0.4);
  fill: none;
  stroke-width: 1px;
}

#ambasadors {
  margin-top: 20rem;
  background: #0B0F17;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 500px) {
  #ambasadors {
    margin-top: 10rem;
  }
}

#ambasadors .container {
  padding: 10rem 4rem 5rem;
}

@media only screen and (max-width: 768px) {
  #ambasadors .container {
    padding: 10rem 4rem 13rem;
  }
}

#ambasadors .slider-container {
  position: relative;
}

#ambasadors .slider-container::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 38rem;
  background: -webkit-gradient(linear, left top, right top, from(#0b0f1700), color-stop(90%, #0B0F17));
  background: linear-gradient(to right, #0b0f1700, #0B0F17 90%);
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  #ambasadors .slider-container::after {
    width: 18rem;
  }
}

#ambasadors .slider-container .swiper-button-next {
  top: -8.5rem;
  left: auto;
  right: 35rem;
}

@media only screen and (max-width: 768px) {
  #ambasadors .slider-container .swiper-button-next {
    left: 18.5rem;
    right: auto;
  }
}

#ambasadors .slider-container .swiper-button-next::after {
  position: absolute;
  content: "";
  background: url(../../images/arrow-right.svg);
  background-size: contain;
  width: 85px;
  height: 20px;
  background-repeat: no-repeat;
}

#ambasadors .slider-container .swiper-button-prev {
  bottom: auto;
  top: -8.5rem;
  left: auto;
  right: 45rem;
}

@media only screen and (max-width: 768px) {
  #ambasadors .slider-container .swiper-button-prev {
    left: 7.5rem;
    right: auto;
  }
}

#ambasadors .slider-container .swiper-button-prev::after {
  position: absolute;
  content: "";
  background: url(../../images/arrow-left.svg);
  background-size: contain;
  width: 85px;
  height: 20px;
  background-repeat: no-repeat;
}

#ambasadors .slider-container .swiper {
  width: 86%;
  margin-left: auto;
  margin-right: 0;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #ambasadors .slider-container .swiper {
    width: 95%;
  }
}

#ambasadors .slider-container .swiper .slide-card {
  background: #1F2634;
  border-radius: 1rem;
  padding: 3rem;
  max-width: 35rem;
}

#ambasadors .slider-container .swiper .slide-card p {
  color: #fff;
}

#ambasadors .slider-container .swiper .slide-card .name {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#ambasadors .slider-container .swiper .slide-card .slider-line {
  width: 90%;
  height: 2px;
  background: #0B0F17;
  border-radius: 100rem;
  margin: 2rem auto 2rem auto;
  display: block;
}

#ambasadors .slider-container .swiper .slide-card .slider-img {
  margin-bottom: 3rem;
}

#ambasadors .slider-container .swiper .slide-card .slider-img img {
  display: block;
  margin: 0 auto;
}

footer {
  padding: 4rem 0;
  position: relative;
}

footer::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 13px;
  width: 55rem;
  background: -webkit-gradient(linear, left top, right top, from(#AD00FF), color-stop(#FF2156), to(#FFBB6E));
  background: linear-gradient(to right, #AD00FF, #FF2156, #FFBB6E);
  border-radius: 0 0 5px 0;
  max-width: 40%;
}

@media only screen and (max-width: 425px) {
  footer::before {
    height: 9px;
  }
}

footer::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  height: 13px;
  width: 59rem;
  background: -webkit-gradient(linear, left top, right top, from(#AD00FF), color-stop(#FF2156), to(#FFBB6E));
  background: linear-gradient(to right, #AD00FF, #FF2156, #FFBB6E);
  border-radius: 5px 0 0 0;
  max-width: 40%;
}

@media only screen and (max-width: 425px) {
  footer::after {
    height: 9px;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container > *:not(:last-child) {
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 425px) {
  footer .container .footer-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

footer .container p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

footer .container .sitemap li {
  font-size: 1.4rem;
  color: #B9C7DE;
}

footer .container .sitemap li:hover {
  color: #fff;
}

footer .container .sitemap li:not(:last-child) {
  margin-bottom: 1rem;
}

footer .container .community {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 800px) {
  footer .container .community {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

footer .container .community .footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem 1rem;
}

footer .container .community .footer-grid img {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

footer .container .community .footer-grid img:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 300px) {
  footer .container .community .footer-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */