@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
::-moz-selection {
  background: #AD00FF;
  color: #fff;
}
::selection {
  background: #AD00FF;
  color: #fff;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: inherit;
}

*:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AD00FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF2156;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 120.1em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background: #131925;
  font-family: 'Poppins', sans-serif;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
}

button[disabled] {
  cursor: default;
}

p {
  line-height: 1.7;
  color: #B9C7DE;
  font-size: 1.6rem;
}

ul, ol {
  list-style: none;
}

input, textarea {
  font-family: inherit;
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 4.6rem;
  font-weight: 700;
  color: #fff;
}

h3 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
}

.container {
  padding: 0 4rem;
  max-width: 136rem;
  margin: 0 auto;
}

.nav-header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  height: 11rem;
}

@media only screen and (max-width: 1200px) {
  .nav-header {
    position: relative;
  }
}

.nav-header::after {
  content: "";
  position: absolute;
  background: #1F2634;
  height: 100%;
  right: 0;
  left: 63%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-radius: 0 0 0 1.5em;
}

.nav-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
  position: relative;
  z-index: 2;
}

.nav-header .nav-links li a {
  display: inline-block;
  font-size: 1.6rem;
  color: #B9C7DE;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.nav-header .nav-links li a.active {
  color: #fff;
}

#hero {
  position: relative;
  height: 100vh;
  min-height: 93rem;
  max-height: 120rem;
}

#hero .hero-dots {
  position: absolute;
  left: 0;
  top: 60%;
}

#hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 8rem 24.5rem 0;
  max-width: 175rem;
}

@media only screen and (max-width: 1200px) {
  #hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8rem 30rem 0;
  }
}

#hero .container .hero-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 1200px) {
  #hero .container .hero-content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media only screen and (max-width: 900px) {
  #hero .container .hero-content {
    margin-top: 13rem;
  }
}

#hero .container .hero-content p {
  margin: 4rem 0;
  width: 76%;
}

#hero .container .hero-content .hero-btn {
  padding: 1.8rem 5.2rem;
  font-size: 1.6rem;
  color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#FFBB6E), color-stop(#AD00FF), color-stop(#FF2156), color-stop(#FFBB6E), color-stop(#FF2156), to(#AD00FF));
  background: linear-gradient(to left, #FFBB6E, #AD00FF, #FF2156, #FFBB6E, #FF2156, #AD00FF);
  border-radius: .5rem;
  background-size: 250% 100%;
  -webkit-transition: background .4s ease;
  transition: background .4s ease;
}

#hero .container .hero-content .hero-btn:hover {
  background-position: 65% 0%;
}

#hero .container .hero-imgs-desktop {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
  position: relative;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .container .hero-imgs-desktop .hero-img-s img {
  width: 100%;
}

#hero .container .hero-imgs-desktop .hero-cloud-top {
  position: absolute;
  top: -20px;
  right: -120px;
  -webkit-animation: cloud 5s ease-in-out infinite;
          animation: cloud 5s ease-in-out infinite;
}

#hero .container .hero-imgs-desktop .hero-cloud-bottom {
  position: absolute;
  bottom: 0;
  left: -50px;
  -webkit-animation: cloud 9s ease-in-out infinite;
          animation: cloud 9s ease-in-out infinite;
}

@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
}

@keyframes cloud {
  0% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
}

#platform .container {
  text-align: center;
}

#platform .container .section-txt {
  margin: 4rem 0 7rem;
}

#platform .container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  #platform .container .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#platform .container .cards .line {
  position: absolute;
  height: 2px;
  background: #AD00FF;
  bottom: -70px;
  left: 15.2rem;
  right: 50%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

@media only screen and (max-width: 1200px) {
  #platform .container .cards .line {
    display: none;
  }
}

#platform .container .cards .card {
  background: #1F2634;
  background: -webkit-gradient(linear, left bottom, left top, from(#AD00FF), color-stop(#FF2156), color-stop(#FFBB6E), color-stop(#1F2634), color-stop(#1F2634), to(#1F2634));
  background: linear-gradient(to top, #AD00FF, #FF2156, #FFBB6E, #1F2634, #1F2634, #1F2634);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem 2rem;
  border-radius: 1em;
  cursor: pointer;
  position: relative;
  background-size: 100% 250%;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}

#platform .container .cards .card.active {
  background-position: 100% 100%;
}

#platform .container .cards .card::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-70px);
          transform: translateX(-50%) translateY(-70px);
  background: #AD00FF;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media only screen and (max-width: 1200px) {
  #platform .container .cards .card::after {
    display: none;
  }
}

#platform .container .cards .card.active::after {
  height: 70px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#platform .container .cards .card .card-title {
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  margin: 2rem 0;
}

#platform-extend {
  margin: 136px 0;
}

#platform-extend .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#platform-extend .container .social-circle {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#platform-extend .container .social-circle img {
  width: 90%;
}

#platform-extend .container .platform-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

#platform-extend .container .platform-right::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 2px;
  background: #AD00FF;
  top: -70px;
  left: 0;
}

@media only screen and (max-width: 1200px) {
  #platform-extend .container .platform-right::before {
    display: none;
  }
}

#platform-extend .container .platform-right > div {
  display: none;
}

#platform-extend .container .platform-right > div.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */