#ambasadors{
    margin-top: 20rem;
    background: #0B0F17;
    padding-bottom: 10rem;

    @media only screen and (max-width: 500px) {
        margin-top: 10rem;
    }

    & .container{
        padding: 10rem 4rem 5rem;

        @media only screen and (max-width: 768px) {
            padding: 10rem 4rem 13rem;
        }
    }

    & .slider-container{
        position: relative;

        &::after{
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            width: 38rem;
            background: linear-gradient(to right, #0b0f1700, #0B0F17 90%);
            pointer-events: none;

            @media only screen and (max-width: 600px) {
                width: 18rem;
            }
        }

        & .swiper-button-next{
            // bottom: auto;
            top: -8.5rem;
            left: auto;
            right: 35rem;

            @media only screen and (max-width: 768px) {
                left: 18.5rem;
                right: auto;
            }

            &::after{
                position: absolute;
                content: "";
                background: url(../../images/arrow-right.svg);
                background-size: contain;
                width: 85px;
                height: 20px;
                background-repeat: no-repeat;
            }
        }

        & .swiper-button-prev{
            bottom: auto;
            top: -8.5rem;
            left: auto;
            right: 45rem;

            @media only screen and (max-width: 768px) {
                left: 7.5rem;
                right: auto;
            }

            &::after{
                position: absolute;
                content: "";
                background: url(../../images/arrow-left.svg);
                background-size: contain;
                width: 85px;
                height: 20px;
                background-repeat: no-repeat;
            }
        }


        & .swiper {
            width: 86%;
            margin-left: auto;
            margin-right: 0;
            position: relative;

            @media only screen and (max-width: 600px) {
                width: 95%;
            }

            & .slide-card{
                background: #1F2634;
                border-radius: 1rem;
                padding: 3rem;
                max-width: 35rem;

                & p{
                    color: $color-white;
                }

                & .name{
                    font-size: 2.4rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                & .slider-line{
                    width: 90%;
                    height: 2px;
                    background: #0B0F17;
                    border-radius: 100rem;
                    margin: 2rem auto 2rem auto;
                    display: block;
                }

                & .slider-img{
                    margin-bottom: 3rem;
                    
                    & img{
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}