#brck{
    background: #0b0f17;
    padding: 8rem 0;
    position: relative;

    & .dots{
        position: absolute;
        right: 0;
        top: 50%;
    }

    & .container{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }

        & .brck-txt{
            flex-basis: 45%;

            @media only screen and (max-width: 1024px) {
                flex-basis: 100%;
            }

            & .brck-line{
                width: 10rem;
                height: 4px;
                background: linear-gradient(to right, $color-primary, $color-secondary, $color-tertiary);
                border-radius: 100rem;
                margin: 2rem 0 3rem;
                display: block;
            }
        }

        & .brck-img{
            flex-basis: 50%;
            
            @media only screen and (max-width: 1024px) {
                flex-basis: 100%;
                width: 100%;
                margin-top: 7rem;
            }

            & img{
                width: 100%;

                @media only screen and (max-width: 1024px) {
                    width: 70%;
                    display: block;
                    margin: 0 auto;
                }


                @media only screen and (max-width: 600px) {
                    width: 100%;
                }
            }
        }
    }
}