#coming-soon{
    background: url('../../images/coming-soon-bg.svg');
    padding: 9rem 0;
    background-position: center;
    background-repeat: no-repeat;

    @media only screen and (min-width: 1920px) {
        background-size: cover;
    }

    @media only screen and (max-width: 500px) {
        padding: 5rem 0;
    }
    
    & .container{
        text-align: center;

        & img{
            margin-bottom: 4rem;
        }

        & p{
            font-weight: 800;
            color: $color-white;
            font-size: 7rem;
            letter-spacing: 10px;
            line-height: 1.2;

            @media only screen and (max-width: 500px) {
                font-size: 5rem;
            }
        }
    }

}