#hero{
    position: relative;
    height: 100vh;
    min-height: 93rem;
    max-height: 120rem;

    & .hero-dots{
        position: absolute;
        left: 0;
        top: 60%;
    }

    & .container{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 8rem 24.5rem 0;
        max-width: 176rem;

        @media only screen and (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;
            padding: 8rem 4rem 0;
        }

        & .hero-content{
            flex-basis: 50%;

            @media only screen and (max-width: 1200px) {
                flex-basis: auto;
            }

            @media only screen and (max-width: 900px) {
                margin-top: 13rem;
            }

            & p{
                margin: 4rem 0;
                width: 76%;
            }

            & .hero-btn{
                padding: 1.8rem 5.2rem;
                font-size: 1.6rem;
                color: $color-white;
                background: linear-gradient(to left, $color-tertiary, $color-primary, $color-secondary,$color-tertiary, $color-secondary, $color-primary);
                border-radius: .5rem;
                background-size: 250% 100%;
                transition: background .4s ease;

                &:hover{
                    background-position: 65% 0%;
                }
            }
        }

        // & .hero-imgs{
        //     flex-basis: 57%;

        //     @media only screen and (max-width: 1200px) {
        //         flex-basis: auto;
        //     }

        //     & .hero-img{
        //         width: 130%;
        //         transform: translateY(-3rem);

        //         @media only screen and (max-width: 1690px) {
        //             width: 100%;
        //         }

        //         @media only screen and (max-width: 1200px) {
        //             max-width: 70rem;
        //             display: block;
        //             margin: 0 auto;
        //         }

        //         @media only screen and (max-width: 900px) {
        //             width: 80%;
        //             margin-top: 5rem;
        //         }
        //     }
        // }

        & .hero-imgs-desktop{
            flex-basis: 57%;
            position: relative;
            height: 60rem;
            display: flex;
            align-items: center;
            justify-content: center;

            & .hero-img-s{
                margin-top: 7rem;

                & img{
                    width: 100%;
                    display: block;
                    margin: 0 auto;

                    @media only screen and (max-width: 1200px) {
                        width: 70%;
                    }
                }
            }

            & .hero-cloud-top{
                position: absolute;
                top: -20px;
                right: -120px;
                animation: cloud 5s ease-in-out infinite;

                @media only screen and (max-width: 1500px) {
                    width: 30rem;
                    top: 40px;
                    right: -50px;
                }
                @media only screen and (max-width: 1200px) {
                    width: 30rem;
                    top: 0px;
                    right: 0px;
                }
            }

            & .hero-cloud-bottom{
                position: absolute;
                bottom: 0;
                left: -50px;
                animation: cloud 9s ease-in-out infinite;

                @media only screen and (max-width: 1500px) {
                    width: 30rem;
                    bottom: 40px;
                    left: -50px;
                }
                @media only screen and (max-width: 1200px) {
                    width: 30rem;
                    bottom: 0px;
                    left: 0px;
                }
            }
        }
    }
}

@keyframes cloud{
    0%{
        transform: translatey(10px);
    }
    50%{
        transform: translatey(-10px);
    }
    100%{
        transform: translatey(10px);
    }
}