#timeline{

    & .container{
        position: relative;

        h2{
            margin-bottom: 7rem;
        }

        & .list{
            position: relative;
            z-index: 1;
            padding: 0 5rem;

            & p{
                background: #131925;
                width: fit-content;
                padding: 1rem 5rem;
                font-size: 2rem;
                color: $color-white;
                font-weight: 600;
            }

            & ul{
                padding: 0rem 5rem;

                & li{
                    color: $color-txt;
                    font-size: 1.8rem;
                    font-weight: 400;
                }
            }
        }

        & .list-1{
            margin-bottom: 10rem;
        }

        & .list-2{
            text-align: right;
            margin-bottom: 10rem;
            padding: 0 12rem 0 0;

            & p{
                margin-left: auto;
            }
        }

        & .list-3{
            margin-bottom: 10rem;
        }

        & .list-4{
            text-align: right;
            padding: 0 12rem 0 0;

            & p{
                margin-left: auto;
            }
        }


        & .timeline-container{
            position: absolute;
            top: 17rem;
            left: 6rem;
            right: 0;
            
            svg {
                max-width: 700px;
                overflow: visible;
            }
            
            .theLine{
                stroke: url(#linear);
                fill: none;
                stroke-width: 5px;
                filter: drop-shadow(0 0 10px #7b04b38c);
            }

            .theLine2{
                stroke: rgba(255, 255, 255, 0.4);
                fill: none;
                stroke-width: 1px;
                // filter: drop-shadow(0 0 10px #7b04b38c);
            }
        }
    }
}

